.card {
    width: 100%;
    max-width: 38.4rem;

    background-color: $white;
    padding: 48px 40px 40px 40px;
    border-radius: 12px;
    box-shadow: 0px 24px 44px -11px rgba(181, 183, 192, 0.3);

    @include flex(column, flex-start, space-between);

    h2 {
        margin-top: 3rem;
    }

    p {
        font-family: 'Inter', normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 160%;
    }
}