.s-hero {
    padding-top: 4.8rem;
    padding-bottom: 6.4rem;
    
    .container {
        @include flex(row, center, space-between)
    }

    h1 {
        max-width: 54.1rem;
    }

    .s-hero-left {
        width: 100%;
        max-width: 56.7rem;

        .title {
            @include flex(row, flex-start, space-between);

            position: relative;

            &::after {
                content: "";
                width: 43.5rem;
                height: 0.8rem;
                background-color: $brand-yellow;

                position: absolute;
                bottom: -4px;
                z-index: -1;
            }
        }

        .description {
            margin-top: 4.6rem;
        }

        ul {
            display: flex;
            align-items: center;
            margin-top: 5.6rem;

            li {
                &:not(:last-child) {
                    margin-right: 3rem;
                }
            }
        }

        .rating {
            display: flex;
            align-items: center;
            margin-top: 6rem;

            .info {
                display: flex;
                margin-left: 1.6rem;

                p {
                    margin-left: 6px;
                }
            }
        }
    }

    .s-hero-right {
        max-width: 52rem;
    }
}