.card-testimony {
    width: 100%;
    max-width: 38.4rem;
    background-color: $gray-1;
    border-radius: 0.8rem;
    padding: 3.2rem;

    .user {
        @include flex(row, center, space-between);
        margin-bottom: 1.8rem;

        strong {
            display: block;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 112%;
            letter-spacing: -1px;
            color: $gray-5;
        }
    }

    p {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: $gray-4;
    }
}