.card-depoimento {
    width: 100%;
    max-width: 38rem;
    height: 20rem;
    background-color: rgba(241, 240, 245, 0.55);
    padding: 40px 32px 24px;
    border-radius: 8px;

    .user {
        @include flex(row, center, space-between);
        strong {
            display: block;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 112%;
            letter-spacing: -1px;
            color: $gray-5;
        }
    }

    p {
        font-family: 'Inter', sans-serif;
        font-size: 1.6rem;
        line-height: 150%;
        color: $gray-4;

        margin-top: 24px;
    }

    @include responsive (480px) {
        height: 25.3rem;
    }
}

.vantagens {
    display: flex;
    align-items: center;

    .icon {
        width: 4.8rem;
        height: 4.8rem;
        @include flex(row, center, center);
        border-radius: 50%;
        background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
    }

    span {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2.2rem;
        color: $white;
        margin-left: 1.2rem;
        font-size: 1.6rem;
    }
}