// cores

$brand-blue: #0073CE;
$brand-blue-light: #00A5F0;
$brand-green: #00D7D7;
$brand-yellow: #FFC800;

// escalas de cinza

$gray-6: #33303E;
$gray-5: #4E4B59;
$gray-4: #5F5C6B;
$gray-3: #7A7786;
$gray-2: #C6C5CE;
$gray-1: #F1F0F5;

$white: #f0f0f0f0
