* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './partials/animations', './partials/colors', './partials/spacing', './partials/typography', './partials/layout';

body {
    background-color: $black-normal;
    position: relative;
    width: 100vw;

    background-image: url("../assets/nordic-2.svg");
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    visibility: visible;
}

