.nordic-1 {
    animation: nordic-1-screen1 18s ease infinite alternate;
}

@keyframes nordic-1-screen1 {
    0%, 15% {
        opacity: 1;
    }
    20%, 100% {
        opacity: 0;
    }
}

.nordic-2 {
    animation: nordic-2-screen2 18s ease infinite alternate;
}

@keyframes nordic-2-screen2 {
    0%, 15% {
        opacity: 0;
    }
    20%, 35% {
        opacity: 1;
    }
    40%, 100% {
        opacity: 0;
    }
}

.nodic-3 {
    animation: nordic-3-screen3 18s ease infinite alternate;
}

@keyframes nordic-3-screen3 {
    0%, 75% {
        opacity: 0;
    }
    80%, 100% {
        opacity: 1;
    }
}