$primary-normal: #5CC8FF;
$primary-dark: #47A1CC;
$primary-light: #6FD0FF;

$white-normal: #F1F1F1;
$white-dark: #E3E3E3;
$white-light: #F3F3F3;

$black-normal: #181818;
$black-dark: #141414;
$black-light: #2B2B2B;