.menu {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    height: 80px;
    display: flex;
    align-items: center;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .border {
        height: 2px;
        width: 100%;
        background: linear-gradient(269.81deg, #FFFFFF 9.65%, rgba(255, 255, 255, 0) 89.9%);
        position: absolute;
        bottom: 0;
    
    }
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.s-hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .s-hero-content {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            max-width: 600px;
        }
    }
}

@media screen and (max-width: 1024px){
    .container {
        justify-content: center;
        .container-content {
            align-items: center;
            text-align: center;
        }
    }
    .menu {
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .menu-content {
        display: none;
    }
}
