header {
    width: 100%;
    height: $gap-10;
    display: flex;
    align-items: center;

    background: #000;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            margin-left: 20rem;
        }

        .plataform {
            display: flex;
            align-items: center;

            span {
                font-weight: 600;
                font-size: $gap-2;
                line-height: $gap-2;
            }

            ul {
                display: flex;
                margin-left: $gap-2;
                gap: $gap-1;

                li {
                    border: 1px solid white;
                    padding: 0.4rem 0.8rem;
                    font-weight: 600;
                    font-size: $gap-2;
                    line-height: $gap-2;
                    border-radius: 0.4rem;
                }
            }
        }
    }

    @media screen and (max-width: 991px) {
        height: 7rem;
        .plataform {
            span {
                display: none;
            }
        }
        .sony {
            display: none;
        }
        .container {
            .logo {
                margin-left: 0rem;
                width: 140px;
            }
        }
    }
}