.subtitle {
    display: flex;
    align-items: center;

    span {
        font-size: 2rem;
        font-weight: 500;
        line-height: $gap-3;

        margin-left: $gap-2;
    }

    @media screen and (max-width: 1200px) {
        
        span {
            font-size: 1.8rem;
        }
    }
    @media screen and (max-width: 991px) {
        justify-content: center;
    }
    @media screen and (max-width: 560px) {
        span {
            font-size: 1.6rem;
        }
    }
}

h1 {
    font-size: 12.4rem;
    font-weight: 700;
    line-height: 97.5%;

    @media screen and (max-width: 1200px) {
        font-size: 10rem;
    }
}

h2 {
    font-size: $gap-6;
    font-weight: 700;
    line-height: 130%;
}

p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;

    color: #BDC2CB
}

.card-character {
    width: 100%;
    max-width: 38.4rem;

    .card-image {
        width: 100%;
        height: 48rem;
        position: relative;

        display: flex;
        justify-content: center;

        margin-bottom: 2.4rem;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .3s ease;
        }

        button {
            position: absolute;
            bottom: 0;
            padding: 1.6rem 3.2rem;
            background: $primary-blue;
    
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2rem;
            opacity: 0;
            transition: all .5s ease;
        }
    }

    .card-info {
        h3 {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2rem;
            margin-bottom: 0.8rem;
        }

        span {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.5rem;
        }
    }

    &:hover {
        .card-image {
            img {
                transform: scale(1.1);
            }
            button {
                opacity: 1;
                bottom: 5.7rem;
            }
        }
    }
}